<!-- Banner -->
<!-- title -->
<div class="banner" style="background: linear-gradient(-200deg, rgb(50, 50, 50) -3%, rgba(100, 100, 100, 0) 53%), url(<%= image_path 'cabane_banner.jpg' %>); background-size: cover;">
  <div class="padding-medium">
    <h1>Typical makes it Atypical</h1>
    <p>Rent Dreamed places arround the world</p>
  </div>
<!-- double line -->
    <hr>
<!-- form -->
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <form>
        <div>
          <input type="text" class="form-control banner-input" id="location" placeholder="Location">
        </div>
        <div >
          <input type="date" class="form-control banner-input" id="checkin" placeholder="Check in">
        </div>
        <div >
          <input type="date" class="form-control banner-input" id="checkout" placeholder="Check out">
        </div>
        <button type="submit" class="btn banner-btn">Enjoy</button>
      </form>
    </div>
  </div>
</div>

<div class="container padding-large">
  <div class="row">
    <div class="col-xs-12 col-md-4 category-card" style="background: linear-gradient(-200deg, rgb(50, 50, 50) -3%, rgba(100, 100, 100, 0) 53%), url(<%= image_path 'air.jpg' %>); background-size: cover;">
      <h1>Air</h1>
    </div>
    <div class="col-xs-12 col-md-4 category-card" style="background: linear-gradient(-200deg, rgb(50, 50, 50) -3%, rgba(100, 100, 100, 0) 53%), url(<%= image_path 'heart.jpg' %>); background-size: cover;">
      <h1>Land</h1>
    </div>
    <div class="col-xs-12 col-md-4 category-card" style="background: linear-gradient(-200deg, rgb(50, 50, 50) -3%, rgba(100, 100, 100, 0) 53%), url(<%= image_path 'sea.jpg' %>); background-size: cover;">
      <h1>Sea</h1>
    </div>
  </div>
</div>

