
.img_show {
  height: 300px;
}


.category-card {
  color: white;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  width: 30vw;
  height: 50vh;
  margin: 5px;
  h1 {
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
  }
  img {
    width: 30vw;
    height: 50vh;
  }
}

.card {
 position: relative;
 padding:50px;
 background-size: cover;
 height: 200px;
 margin: 20px auto;
 &-bg {
   background-size: cover;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
 }
 &-text {
   top: 10px;
   left: 10px;
   color: #FFF;
 }
 &-link {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   color: transparent;
   z-index: 3;
   &:hover {
     opacity: 0.9;
   }
 }
}

.place-description {
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
}

