  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <form>
        <div>
          <input type="text" class="form-control input" id="location" placeholder="Location">
        </div>
        <div >
          <input type="date" class="form-control input" id="checkin" placeholder="Check in">
        </div>
        <div >
          <input type="date" class="form-control input" id="checkout" placeholder="Check out">
        </div>
        <button type="submit" class="btn input-btn">Enjoy</button>
      </form>
    </div>
  </div>
</div>
